doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/pass.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
body
	h3  
		a(href='/map') Vancouver Parks
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4

					h1.text-center.login-title My Footprint
						div.signup-wall
							each park in user.VisitedParks
								li 
									h2 #{park.ParkName}
						a(href='/logout', class='text-center new-account') Log Out
				
